/*大屏*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
*,body{padding:0px;	margin:0px;color: #222;font-family: "微软雅黑";}
html,body{
    background: url("../images/baise.jpg") no-repeat;
    background-size: cover;
    font-size: .16rem;
    color: #ffffff;
    position: relative;
    width: 100%;
    height: 100%;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
ul,ol{
    list-style: none;
}
.allnav{
    height: 100%;
}
/*谷哥滚动条样式*/

::-webkit-scrollbar {width:5px;height:5px;position:absolute}
::-webkit-scrollbar-thumb {background-color:#5bc0de}
::-webkit-scrollbar-track {background-color:#ddd}

/***/
.allnav{
    height: 100%;
}

/*
头部*/
.header{
    width: 100%;
    height: 1.5rem;
    /*background: red;*/

}
.header .header-left{
    width: 30%;
    height: 1.05rem;
    color: white;
/*    border: 1px solid green;*/
    text-align: center;
    line-height: 1.05rem;
}
.header .header-center{
    width: 40%;
    height: 1.05rem;
    /*border: 1px solid red;*/
/*    background: url("../images/head.gif") no-repeat;
    background-size: 100% 100%;*/
    position: relative;
}
.header .header-center .header-title{
    text-align: center;
    color: #ffffff;
    font-size: .4rem;
    text-shadow: 0 0 .3rem #00d8ff;
    line-height: 1.05rem;
}
.header .header-img{
    background: url("../images/head.gif") no-repeat center center;
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: .4rem;
}

.header .header-right{
    width: 30%;
    height: 1.05rem;
    /*border: 1px solid gold;*/
}
.header .header-bottom{
    width: calc(100% - .4rem);
    height: .16rem;
    background: url("../images/header.png") no-repeat;
    background-size: calc(100% - .2rem) 100%;
    padding: 0 .2rem;
    margin-left: .3rem;

}

/*
内容*/
.center{
    padding: .1rem .2rem .1rem .2rem;
}
/*左边宽度*/
.center .center-left{
    width: 30%;
    padding: .1rem;
/*    border: 1px solid red;*/

}

/*左上样式*/

.center .center-left .left-top{
    width: 100%;
    height: 6.4rem;
    margin-bottom: 0.1rem;
    /*background: url("../images/panel.png") no-repeat;
    background-size: 100% 100%;*/
    /*transform-style: preserve-3d;*/
    border: 0.01rem solid #217093;
    position: relative;
    overflow: hidden;
}

/*添加*/

.center .center-left .top-b{
    width: calc(100% - 0.2rem);
    height: 6.0rem;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
}








.center .center-left .left-bottom{
    width: 100%;
    height: 5.3rem;
    /*background: url("../images/panel.png") no-repeat;
    background-size: 100% 100%;*/
    border: 0.01rem solid #217093;

}
.center .center-left .bottom-b{
    width: calc(100% - 0.2rem);
    height: 4.5rem;
    margin-left: 0.1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;

}
.center .center-cen{
    width: 40%;
    padding: .1rem;
}
.center .center-cen .cen-top{
    width: 100%;
    height: 6.8rem;
    /*background: url("../images/a.png") no-repeat;
    background-size: 100% 100%;*/
    border: 0.01rem solid #217093;
    margin-bottom: 0.1rem;
    position: relative;
}


/*.center .center-cen .cen-top .top-title{*/
/*    position: absolute;*/
/*    width: 35%;*/
/*    height: 1.5rem;*/
/*    !*border: 1px solid red;*!*/
/*    left: .5rem;*/
/*    top:.5rem;*/
/*}*/
/*.center .center-cen .cen-top .top-title li{*/
/*    float: left;*/
/*    width: 50%;*/
/*    height: 1rem;*/
/*    !*border: 1px solid green;*!*/
/*}*/
/*.center .center-cen .cen-top .top-title li p,*/
/*.center .center-cen .cen-top .top-title li span,*/
/*.center .center-cen .cen-top .top-title li b{*/
/*    color: #ffffff;*/
/*}*/
/*.center .center-cen .cen-top .top-title li p{*/
/*    padding: .1rem;*/
/*}*/
/*.center .center-cen .cen-top .top-title li span{*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*    width: .35rem;*/
/*    height: .45rem;*/
/*    background: #37a9ea;*/
/*    margin-left: .1rem;*/
/*    line-height: .4rem;*/
/*    font-size: .3rem;*/
/*    margin-top: .1rem;*/
/*}*/
.center .center-cen .cen-top .top-bottom{
    width: 100%;
    height: 6.4rem;
    /*border: 1px solid red;*/
    position: absolute;
    top:0.2rem;
    left: 0.1rem;
    padding: .2rem;
    /*overflow: hidden;*/
}


.center .center-cen .cen-bottom{
    width: 100%;
    height: 4.9rem;

    border: 0.01rem solid #217093;
}
.center .center-cen .bottom-b{
    width: calc(100% - 0.2rem);
    height: 4.5rem;
    margin-left: 0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
}

.center .center-right{
    width: 30%;
    padding: .1rem;
}

.center .center-right .right-top{
    width: 100%;
    height: 3.2rem;
    margin-bottom: 0.1rem;
    border: 0.01rem solid #217093;
}
.center .center-right .right-cen{
    width: 100%;
    height: 4.2rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;

    border: 0.01rem solid #217093;
}
.center .center-right .right-bottom{
    width: 100%;
    height: 4.2rem;

    border: 0.01rem solid #217093;
}
.chat{
    width: 100%;
    height: 4.2rem;
    margin-top: 0.1rem;
    margin-left: .3rem;
    margin-bottom: 0.1rem;

    /*width: calc(100% - .2rem);*/
    /*height: calc(100% - .6rem);*/
    /*margin-top: .1rem;*/
    /*margin-left: .3rem;*/
    /*padding: .1rem;*/
    /*overflow: hidden;*/
}



.gun{
    /* width: 100%;*/
    margin-top: .2rem;
}
.gun span{
    display: block;
    float: left;
    height: .2rem;
    width: 33%;
    /*background: red;*/
    /*margin: 15px 10px 10px 10px;*/
    /*padding: 20px;*/
    text-align: center;
    font-size: 0.14rem;
    font-weight: 600;
    color: #61d2f7;
    text-align: center;
    margin-bottom: .1rem;
}
#FontScroll{
    width: 100%;
    height: 2.3rem;
    overflow: hidden;
    /*float: left;*/
    margin-top: .1rem;
    /*margin: 0 5%;*/
    /*margin-left: 50px;*/

    /*background: gold;*/

}
#FontScroll ul li{
    height: .32rem;
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: .32rem;
    /*border-bottom: 1px dashed #404040;*/
    /*width:33.3%;*/
    overflow: hidden;
    font-size: 0.14rem;
    /*border-bottom: 1px dashed #404040;*/
    /*width:33.3%;*/


    /*background: red;
    margin: 0 2%;*/

}
#FontScroll ul li:nth-child(1){
    /*background-color: #072951;*/
    box-shadow: -10px 0px 15px #034c6a inset, /*左边阴影*/
    10px 0px 15px #034c6a inset;

}
#FontScroll ul li:hover{
    box-shadow: -10px 0px 15px #034c6a inset, /*左边阴影*/
    10px 0px 15px #034c6a inset;
    cursor: pointer;
}

.fontInner span{
    display:inline-block;
    /*float: left;*/
    /*height: 20px;*/
    width:31%;
    color: #ffffff;

    /*background: red;*/

}
.fontInner span b{
    display: inline-block;
    width: .2rem;
    height: .2rem;
    border-radius: 0.03rem;
    color: #ffffff;
    line-height: .2rem;
}
/*#FontScroll ul li:nth-child(1) .fontInner span b{
    background: #EB6841

}*/
.city1 {
    font-size: 15px; /* 设置拥有 city 类名的 li 标签的字体大小为 20 像素 */
    margin-bottom: 10px;
    margin-top: 5px;
}
.city {
    font-size: 15px; /* 设置拥有 city 类名的 li 标签的字体大小为 20 像素 */
    margin-bottom: 10px;
}
div.title {
    padding-left: 10px; /* 在左侧添加 20px 的内边距 */
    text-indent: 10px; /* 将文本向右缩进 20px */
}

/*大屏*/
#FontScroll ul li:nth-child(8n-4) .fontInner span b{ background: #20a8fe }
#FontScroll ul li:nth-child(8n-3) .fontInner span b{ background: #EB6841 }
#FontScroll ul li:nth-child(8n-2) .fontInner span b{ background: #3FB8AF }
#FontScroll ul li:nth-child(8n-1) .fontInner span b{ background: #FE4365 }
#FontScroll ul li:nth-child(8n-5) .fontInner span b{ background: #FC9D9A }
#FontScroll ul li:nth-child(8n-6) .fontInner span b{ background: #EDC951 }
#FontScroll ul li:nth-child(8n-7) .fontInner span b{ background: #C8C8A9 }
#FontScroll ul li:nth-child(8n) .fontInner span b{ background: #83AF9B }
#FontScroll ul li:first-child .fontInner span b{ background: #036564 }
#FontScroll ul li:last-child .fontInner span b{ background: #3299BB }